---
import Layout from "../layouts/Layout.astro";
import ImageCafe from "../../public/cafe.png";
import Imagetostado from "../../public/tostado.jpg";
import Imagemetodos from "../../public/metodos.png";
---


<Layout title='Nuestro Cafe | Starbuck Clon'> 

<div>
<h1 class="text-5xl font-bold text-center bg-green-900 text-white py-16">Nuestro cafe</h1>
</div>

    <section class="flex flex-col mx-96 mt-10 items-center gap-10"> 
      <article class="flex flex-col gap-10">
<p class="">El olor al café, a unos granos recién tostados, es la mejor bienvenida que cada día planificamos para brindarles cuando abrimos las puertas de nuestras tiendas. Pero eso es sólo el comienzo.
</p>

<img src={ImageCafe.src} alt="Foto de nuestro cafe" class=" w-full h-full">

<p>
    De cuerpo entero, un poco ahumado, con notas cítricas, con fuerte presencia de chocolate…el desafío que tenemos constantemente es que cada uno de nuestros clientes encuentre su mezcla favorita y a la vez, que explore nuestras amplias selecciones más singulares. 
</p>

<p>Para alcanzarlo nos abastecemos de los mejores granos de café arábicos siguiendo siempre estrictos principios éticos.
</p>
</article>

<article class="flex flex-col gap-10">

    <h2 class="font-bold text-3xl "> Nuestro tostado Starbucks</h2>
    <p>Cada café que ofrecemos exige un perfil de tostado único para crear una taza con el máximo aroma, acidez, cuerpo y sabor. Al trabajar en un delicado balance en calor, tiempo y arte, nuestros maestros en el tostado hacen resaltar estas únicas características de cada grano de café. </p>
<img src={Imagetostado.src} alt="Explicacion de como elavoramos el tostado del cafe">
    </article>

    <article class="flex flex-col gap-10 ">
        <div class="items-start flex flex-col gap-10">
        <h5 class="font-bold text-2xl">
            Rubio
        </h5>
        <p>El café Starbucks tostado rubio es tostado en menos tiempo, tiene un cuerpo ligero y sabores suaves.
        </p>
    </div>

    <div class="items-start flex flex-col gap-8">
        <h5 class="font-bold text-2xl">
            Medio

        </h5>
        <p>El café con tostado medio es balanceado con sabores agradables y enriquecidos.
        </p>
    </div>

    <div class="items-start flex flex-col gap-10">
        <h5 class="font-bold text-2xl">
            Oscuro
        </h5>
        <p>Los cafés con tostado oscuro presentan un cuerpo completo y sabores fuertes y robustos. 
        </p>
    </div>
    </article>

    <article class="flex flex-col gap-10">
        <h3 class="font-bold text-3xl">Descubre los métodos de preparación en Starbucks, ¿Cuál es el correcto para vos?
        </h3>
        <p>Desde el cultivo responsable hasta el tostado, cada detalle en la elaboración de manera artesanal es fundamental para poder disfrutar de una taza de café Starbucks. Y además de la esencia de los granos, sabemos que la forma en la que se prepara el café tiene un efecto sorprendente en el sabor de cada taza y define su cuerpo. 
        </p>
        <img src={Imagemetodos.src} alt="">
        <p>
            Es por eso que nuestros magníficos baristas se enfocan en crear diariamente rituales escogiendo diferentes métodos de preparación para que sean nuestros clientes quienes se sorprenden. Así, de la mano de las explicaciones de nuestros expertos, no sólo cultivarán la curiosidad sino que podrán seleccionar el mejor método para su experiencia Starbucks
        </p>
    </article>
    <a href="https://historias.starbucks.com/es/stories/2020/descubre-los-metodos-de-preparacion-en-starbucks-cual-es-el-correcto-para-ti/"  target="_blank" class="roundered border-4 border-green-500 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Conoce nuestros metodos</a>
    </section>
</Layout>
