---
import Layout from "../layouts/Layout.astro";
import CardXP from "../components/CardXP.astro";
---


<Layout title="Experiencia Starbucks| Starbuck Clon">
<div>
     <h1 class="text-5xl font-bold text-center bg-green-900 text-white py-16">Experiencia Starbucks</h1>
</div>
<section class="flex flex-col md:*:mx-28 mt-10 items-center">
<article>
<h2 class="font-semibold text-2xl  text-center text-wrap">Para cada momento hay una forma de vivir la Experiencia Starbucks como vos quieras.
</h2>
</article>

 <CardXP/>
 
</section>
</Layout>