---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Homepage | Starbuck Clon">
	<main>
		<Header />
		<Card/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<Footer/>
	</main>
</Layout>

