---
import Imagexp1 from "../../public/xp1.png"
---



<section class="md:mx-28">
    <article class="flex justify-center">
      <div class="flex flex-col items-center md:flex-row mt-10 p-20 bg-slate-200">
       
        <div class="flex flex-col text-center justify-center p-6  gap-4"> 
            <h1 class="font-bold text-center text-xl text-black"><strong>In Store
            </strong>
              </h1>
              <p class="text-center  text-black ">En nuestras tiendas te esperan nuestros baristas capacitados para ofrecerte una bebida muy especial. El ambiente cálido y los detalles de nuestros productos elaborados artesanalmente hacen que la experiencia sea única e inigualable.</p>
             </div>
             <div class="flex flex-col text-center justify-center "> 
            <img src={Imagexp1.src} alt="Imagen sobre una mujer comprando" style="withd: 1500px">
        </div>
    
    </div>
    </article>