---
import Image from "../../public/delantal.png"
import ImageRetropik from "../../public/retropink.jpg"
---


<article class="flex justify-center mt-8 w-full h-full">
  <div class="flex flex-col items-center md:flex-row bg-pink-500">
    <div class="flex flex-col text-center justify-center px-12  gap-4"> 
      <h1 class="font-bold text-center  text-5xl text-white p-6"><strong>Vivi en un viaje retro!</strong>
      </h1>
      <p class="font-bold text-center text-xl text-white p-6 ">Con el sabor refrescante de esta temporada
      </p>
      </div>
  <div class="flex flex-col text-center justify-center gap-4"> 
      <img src={ImageRetropik.src} alt="Imagen sobre una bebida retro" class= " h-96 w-82">
  </div>
</div>
</article>



<article class="flex justify-center mt-8 w-full h-full">

  <div class="flex flex-col items-center md:flex-row " style="background-color: #ccffd9;">

      <div class="flex flex-col text-center items-center justify-center px-24  gap-4"> 
        <h2 class="font-bold text-center text-3xl  p-6" style="color: #00754A">Unite a algo mas grande
        </h2>
        <p style="color: #00754A" class="font-light text-center">Revisa las oportunidades que tenemos para vos
        </p>

        <a href="#" class="roundered bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-10" >Postulate aqui</a>
        </div>
    <div class="flex flex-col text-center justify-center md:py-12 gap-4"> 
        <img src={Image.src} alt="Imagen de un delantal" class= " h-full w-full">
    </div>
  </div>
</article>



