---
import Imagexp1 from "../../public/xp1.png"
import drive from "../../public/drive.png"
import student from "../../public/student.png"

---



<section class="md:mx-28">
  
  <article>
    <div class="md:p-12 mx-2 mt-24 md:mx-0" >
      <div class=" rounded-lg md:flex">
        <div class="p-6 " style="background-color: #f2f0eb ">
          <h2 class="font-bold text-xl md:text-3xl mb-2 text-dark text-center py-6 " >In Store</h2>
          <p class="text-dark text-center">
            En nuestras tiendas te esperan nuestros baristas capacitados para ofrecerte una bebida muy especial. El ambiente cálido y los detalles de nuestros productos elaborados artesanalmente hacen que la experiencia sea única e inigualable.
          </p>
          </div>

          <img src={Imagexp1.src} alt="Laptop on Desk" class="md:w-1/2 rounded-t-lg md:rounded-l-lg md:rounded-t-none" />
          
        </div>
      </div>
      </article>
        
<article class="mt-8">
        <div class="md:p-12 mx-2  md:mx-0">
          <div class=" rounded-lg  md:flex">
            <img src={drive.src} alt="Laptop on Desk" class="md:w-1/2 rounded-t-lg md:rounded-l-lg md:rounded-t-none" />
            <div class="p-20 md:p-28" style="background-color: #f2f0eb ">
              <h2 class="font-bold text-xl md:text-3xl mb-2 text-black py-6 md:py-0 text-center">Drive Thru
              </h2>
              <p class="text-black text-center">
                Retirá tu bebida favorita y viví la Experiencia Starbucks sin bajarte del auto.
              </p>
            </div>
    </article>

    <article class="mt-8">
            <div class="md:p-12 mx-2  md:mx-0">
              <div class=" rounded-lg  md:flex">
                <img src={student.src} alt="Laptop on Desk" class="md:w-1/2 rounded-t-lg md:rounded-l-lg md:rounded-t-none" />
                <div class="p-20 md:p-28" style="background-color: #f2f0eb ">
                  <h2 class="font-bold text-xl md:text-3xl mb-2 text-black py-6 md:py-0 text-center">Delivery
                  </h2>
                  <p class="text-black text-center">
                    Los clientes pueden pedir sus bebidas y productos favoritos donde sea que estén con operadores logísticos al servicio como Pedidos Ya.

                  </p>
                </div>
        </article>

    
            <section/>
            